@import "materialize";

.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.round-image-100 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }

}

.notifications {
  width: 250px;
  height: 180px;
  overflow: scroll;
}

.notifications li {
  padding: 12px;
}

.notifications li:hover {
  background-color: #ccc;
}